/*---------------------------------------------*/
/* Basic set up */
/*---------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  html {
    background-color: #f8f8ff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
  }

/*---------------------------------------------*/
/* REUSABLE COMPONENTS */
/*---------------------------------------------*/

section {
    padding: 20px 0px;
    margin: 0 auto;
  }
  
.row {
    margin: 0 auto;
    max-width: 1140px;
  }
  
.rowHeader {
    margin: 0 auto;
    width: auto;
  }
  
h2{
      border-bottom: 2px solid #000;
      padding-bottom: 20px;
}

/* HEADINGS------------------------------------*/
header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 20px;
    
}
nav {
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    width: 100%;
}
.logo {
    width: 50%;
}
.logo h1{
    padding-left: 10%;
}

.links {
    width: 50%;
}

.links ul{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    
}
.links ul li{
    padding: 10px;
    list-style-type: none;
}

.links li a:link,
.links li a:visited{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s
}

.links li a:hover,
.links li a:active{
    border-bottom: 2px solid #000
}

.hero {
background-image: linear-gradient(rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0.329)), url(img/header1.jpg);
  height: 85vh;
  width: 95vw;
  margin: 0 auto;
  background-size: cover;
  background-position: top;
}


.about {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-header {
    margin: 0 auto;
    font-size: 175%;
    
}
.text-box-of-1 {
    width: 80%;
    margin-left: 10%;
    padding: 40px 0;
    font-size: 24px;
}
.text-box-of-3{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}
.text-box-of-3 p{
    width: 30%;
}
.img-box-of-3 {
    
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.img-box-of-3 img{
    filter: brightness(75%);
    max-width: 32%;
    padding-top: 10px;
}


.investment {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.investmenth2{
    font-size: 175%;
    border-bottom: 2px solid #000;
}

